<header>
  <h2 class="h2 article-title">Portfolio</h2>
</header>

<section class="projects">

  <ul class="filter-list">

    <li class="filter-item">
      <button class="active" data-filter-btn>All</button>
    </li>

    <li class="filter-item">
      <button data-filter-btn>Applications</button>
    </li>

    <li class="filter-item">
      <button data-filter-btn>Websites</button>
    </li>

  </ul>

  <div class="filter-select-box">

    <button class="filter-select" data-select>

      <div class="select-value" data-selecct-value>Select category</div>

      <div class="select-icon">
        <ion-icon name="chevron-down"></ion-icon>
      </div>

    </button>

    <ul class="select-list">

      <li class="select-item">
        <button data-select-item>All</button>
      </li>



      <li class="select-item">
        <button data-select-item>Applications</button>
      </li>

      <li class="select-item">
        <button data-select-item>Websites</button>
      </li>

    </ul>

  </div>

  <ul class="project-list">



    <li class="project-item  active" data-filter-item data-category="websites">
      <a href="#">

        <figure class="project-img">
          <div class="project-item-icon-box">
            <ion-icon name="eye-outline"></ion-icon>
          </div>

          <img src="../assets/images/private site.jpg" alt="orizon" loading="lazy">
        </figure>

        <h3 class="project-title">Many Dynamic Websites</h3>

        <p class="project-category">Website</p>

      </a>
    </li>



    <li class="project-item  active" data-filter-item data-category="applications">
      <a href="#">

        <figure class="project-img">
          <div class="project-item-icon-box">
            <ion-icon name="eye-outline"></ion-icon>
          </div>

          <img src="../assets/images/private site.jpg" alt="brawlhalla" loading="lazy">
        </figure>

        <h3 class="project-title">Cargo Management</h3>

        <p class="project-category">Applications</p>

      </a>
    </li>
    <li class="project-item  active" data-filter-item data-category="applications">
      <a href="#">

        <figure class="project-img">
          <div class="project-item-icon-box">
            <ion-icon name="eye-outline"></ion-icon>
          </div>

          <img src="../assets/images/private site.jpg" alt="brawlhalla" loading="lazy">
        </figure>

        <h3 class="project-title">Cargo Management</h3>

        <p class="project-category">Applications</p>

      </a>
    </li>
    <li class="project-item  active" data-filter-item data-category="applications">
      <a href="#">

        <figure class="project-img">
          <div class="project-item-icon-box">
            <ion-icon name="eye-outline"></ion-icon>
          </div>

          <img src="../assets/images/private site.jpg" alt="brawlhalla" loading="lazy">
        </figure>

        <h3 class="project-title">Learning Management Systems</h3>

        <p class="project-category">Applications</p>

      </a>
    </li>
    <li class="project-item  active" data-filter-item data-category="applications">
      <a href="#">

        <figure class="project-img">
          <div class="project-item-icon-box">
            <ion-icon name="eye-outline"></ion-icon>
          </div>

          <img src="../assets/images/private site.jpg" alt="brawlhalla" loading="lazy">
        </figure>

        <h3 class="project-title">Business Performance Software</h3>

        <p class="project-category">Applications</p>

      </a>
    </li>
    <li class="project-item  active" data-filter-item data-category="applications">
      <a href="#">

        <figure class="project-img">
          <div class="project-item-icon-box">
            <ion-icon name="eye-outline"></ion-icon>
          </div>

          <img src="../assets/images/private site.jpg" alt="brawlhalla" loading="lazy">
        </figure>

        <h3 class="project-title">Hospital management system</h3>

        <p class="project-category">Applications</p>

      </a>
    </li>
    <li class="project-item  active" data-filter-item data-category="applications">
      <a href="#">

        <figure class="project-img">
          <div class="project-item-icon-box">
            <ion-icon name="eye-outline"></ion-icon>
          </div>

          <img src="../assets/images/private site.jpg" alt="brawlhalla" loading="lazy">
        </figure>

        <h3 class="project-title">Web Voting System</h3>

        <p class="project-category">Applications</p>

      </a>
    </li>
    <li class="project-item  active" data-filter-item data-category="applications">
      <a href="#">

        <figure class="project-img">
          <div class="project-item-icon-box">
            <ion-icon name="eye-outline"></ion-icon>
          </div>

          <img src="../assets/images/private site.jpg" alt="brawlhalla" loading="lazy">
        </figure>

        <h3 class="project-title">Game Show App</h3>

        <p class="project-category">Applications</p>

      </a>
    </li>
    <li class="project-item  active" data-filter-item data-category="applications">
      <a href="#">

        <figure class="project-img">
          <div class="project-item-icon-box">
            <ion-icon name="eye-outline"></ion-icon>
          </div>

          <img src="../assets/images/private site.jpg" alt="brawlhalla" loading="lazy">
        </figure>

        <h3 class="project-title">Psc Learning Apps</h3>

        <p class="project-category">Applications</p>

      </a>
    </li>




  </ul>

</section>