<main>
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <app-nav></app-nav>

    <article class="about  active" data-page="about">
      <app-about></app-about>
    </article>
    <article class="resume" data-page="resume"><app-resume></app-resume> </article>
    <article class="portfolio" data-page="portfolio"><app-portfolio></app-portfolio></article>

    <article class="blog" data-page="blog"></article>

    <article class="contact" data-page="contact"><app-contact></app-contact> </article>

  </div>

</main>